.profile-container {
 
    background-color: $secondary-color-dark;
    height: 70%;
    width: 20%;
    padding: 2.5rem;
    position: fixed;
    top: 20%;
    left: 5%;
    box-shadow: $box-shadow;
    border-radius: 10px;
    
    @include xs {
        bottom: 0;
        height: 10vh;
        left: 0;
        position: fixed;
        width: 100%;
    }

}