.tweets-container {
    @include flex();

    width: 80%;

    @include xs {
        width: 100%;
    }

    .tweets-list {
        @include flex($direction: column);

        margin-bottom: 100px;
        width: 80%;

        form {
            border: 1px solid $text-color;
            border-radius: 5px;
            margin-top: 2rem;
            width: 50%;
            padding: 1rem;

            @include xs {
                width: 100%;
            }

            .form-title h4 {
                color: $text-color;
            }

            .form-body {
                width: 100%;

                .form-item {
                    width: 100%;

                    textarea {
                        border: none;
                        width: 100%;
                        background-color: transparent;
                        padding: 10px 15px;
                        text-align: start;
                        resize: none;
                        outline: none;
                    }

                    &:last-child {
                        text-align: right;
                    }
                }
            }
        }
    }
}