ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $text-color;
    font-weight: 600;
    transition: .9s;

    &:hover {
        color: $primary-color;
    }
}

.text-danger {
    margin-top: 10px;
    color: $text-danger;
}

.fa-regular, .fa-solid, .fa-heart {
    transition: .9s;
    font-size: 1.2rem;
}

.strong {
    font-weight: 600;
}
