@mixin flex ($direction: row, $justify: center, $align: center, $wrap: wrap) {
    align-items: $align;
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
}


@mixin xs {
    @media (max-width: $screen-xs) {
        @content;
    }
}

@mixin sm {
    @media (max-width: $screen-sm) {
        @content;
    }
}

@mixin md {
    @media (min-width: $screen-sm) and (max-width: $screen-md) {
        @content;
    }
}

@mixin xl {
    @media (min-width: $screen-xl) {
        @content;
    }
}