@import '../base/typographie';

$font-family: 'Montserrat', sans-serif;
$primary-color: #00ACEE;
$primary-color-dark: #01719d;
$secondary-color: #dfe6e9;
$secondary-color-dark: #bec2c4;
$text-color: #333;
$bg: #eee;


$box-shadow :rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;


$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 979px;
$screen-xl: 1200px;