@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  border-radius: 3px;
  border: 1px solid white;
  cursor: pointer;
  padding: 10px 15px;
  color: white;
}
.btn-primary {
  background-color: #00ACEE;
}
.btn-primary:hover {
  background-color: #01719d;
}
.btn-secondary {
  background-color: #01719d;
}
.btn-secondary:hover {
  background-color: #00ACEE;
}

.tweet-card {
  width: 50%;
  border: 1px solid #333;
  margin-top: 2rem;
  padding: 1.5rem;
}
@media (max-width: 480px) {
  .tweet-card {
    width: 100%;
  }
}
.tweet-card-author {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tweet-card-author-data {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.tweet-card-author-data img {
  width: 2.5rem;
}
.tweet-card-author-data p {
  margin-left: 1rem;
}
.tweet-card-author-action a {
  color: #333;
}
.tweet-card-author-action a i {
  cursor: pointer;
}
.tweet-card-body {
  padding: 1rem;
}
.tweet-card-actions {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 1px solid #eee;
  margin-top: 2rem;
}
.tweet-card-actions i {
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
}

.top-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #eee;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: 15vh;
  padding: 10px 30px;
}
.top-bar ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;
}
.top-bar ul li {
  margin-left: 10px;
}

.profile-container {
  background-color: #bec2c4;
  height: 70%;
  width: 20%;
  padding: 2.5rem;
  position: fixed;
  left: 5%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
@media (max-width: 480px) {
  .profile-container {
    bottom: 0;
    height: 10vh;
    left: 0;
    position: fixed;
    width: 100%;
  }
}

.tweets-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}
@media (max-width: 480px) {
  .tweets-container {
    width: 100%;
  }
}
.tweets-container .tweets-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
  width: 80%;
}
.tweets-container .tweets-list form {
  border: 1px solid #333;
  border-radius: 5px;
  margin-top: 2rem;
  width: 50%;
  padding: 1rem;
}
@media (max-width: 480px) {
  .tweets-container .tweets-list form {
    width: 100%;
  }
}
.tweets-container .tweets-list form .form-title h4 {
  color: #333;
}
.tweets-container .tweets-list form .form-body {
  width: 100%;
}
.tweets-container .tweets-list form .form-body .form-item {
  width: 100%;
}
.tweets-container .tweets-list form .form-body .form-item textarea {
  border: none;
  width: 100%;
  background-color: transparent;
  padding: 10px 15px;
  text-align: start;
  resize: none;
  outline: none;
}
.tweets-container .tweets-list form .form-body .form-item:last-child {
  text-align: right;
}

.content {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  height: 85vh;
}

/*# sourceMappingURL=style.css.map */
