.user-content {
    padding-top: 5rem;
    
    @include flex();

    .user-profile {
        @include flex($direction: column);
        border:1px solid #ddd ;
        padding: 2rem;
        border-radius: 0.5rem;
        width: 100%;

        &-img {
            width: 100%;

            img {
                margin-top: -6rem;
                width: 6rem;
                height: 6rem;
                border-radius: 50%;
                border: 3px solid white;
            }
        }

        &-infos {
            @include flex($justify: flex-start, $align: flex-end);

            height: 10%;
            width: 100%;

            h3 {
                font-size: 1.5rem;
                margin-right: 2rem;
            }

            p {
                font-size: 1.5rem;
            }
        }

        &-actions {
            width: 100%;
            margin-top: 1rem;
        }

        &-data {
            @include flex($justify: space-around);
            font-size: 1.2rem;
            width: 100%;
            margin-top: 2rem;

            &-posts, &-followers, &-following {
                @include flex($direction:column, $justify: space-around );
            }
        }    
    }
}

.tweets-user-container {
    @include flex();

    width: 100%;

    .tweets-user-list {
        @include flex();
        width: 80%;
    }
}