.tweet-card {
    width: 60%;
    border: 1px solid $text-color;
    margin-top: 2rem;
    padding: 1.5rem;

    @include xs {
        width: 100%;
    }

    &-author {

        @include flex($justify: space-between);

        &-data {

            @include flex();

            img {
                width: 2.5rem;
                border-radius: 50%;
                border: 2px solid $primary-color;
            }
    
            p {
                margin-left: 1rem;
                font-weight: 700;
            }

            i {
                margin: 0 0.3rem;
            }
        }

        &-action {
            a {
                color: $text-color;
                i {
                    cursor: pointer;
                }
            }
        }

    }

    &-body {
        padding: 1rem;
    }

    &-actions {
        @include flex($justify: space-around);

        border-top: 1px solid $bg;
        margin-top: 2rem;

        i {
            cursor: pointer;
            font-size: 1.5rem;
            line-height: 1.5rem;
            margin-top: 1.5rem;
        }
    }
}