.tweet-card {
    width: 100%;
    padding: 0.6rem;
    border-bottom: 1px solid #ddd;
    @include flex($justify: flex-start, $wrap: nowrap, $align: flex-start);

    @include sm {
        border: 1px solid #ddd;
        border-radius: .5rem;
        margin: 1rem auto;
    }

    .retweet {
        font-size: .8rem;
        font-weight: 600;
        color: $secondary-color-dark;

        i {
            font-size: .8rem;
            margin-right: 1rem;
            color: $secondary-color-dark;
        }
    }
    &-avatar {
        img {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: 1px solid $secondary-color-dark;
        }
    }

    &-author {
        width: 100%;
        padding: 0 0.3rem;

        @include flex($direction: column,$align: flex-start, $justify: space-between, $wrap: nowrap);

        &-data {
            @include flex($justify: space-between);
            width: 100%;
            margin-top: 0.3rem;
            font-size: 0.9rem;

            .medium {
                font-weight: 500;
                color: $secondary-color-dark;
            }
            
            .overflow {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 100px;
            }
        }

        &-actions {
            width: 60%;
            @include flex($justify: flex-end);


            a {
                margin-right: 1rem;
            }
        }

    }

    &-body {
        width: 100%;
        min-height: 3rem;
        height: auto;
        padding: 0.5rem 0;
        text-align: start;
    }

    &-actions {
        width: 100%;

        @include flex($justify: space-around);

        a{
            i {
                margin-right: 10px;
                padding: 5px;
                border-radius: 25px;

                &:hover {
                    background-color: $secondary-color;

                }
            }
        }
        i {
            span {
                margin-left: 10px;
            }
        }
    }
}